.home{

}
.first-block{
    display: flex;
    justify-content: center;
}

.four-block{
    margin-top: 50px;
    margin-bottom: 50px;
    width:1000px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    align-items: center;
    justify-items: center;
}

.block-settle{
    display: grid;
    align-items: center;
    padding: 10px;
    width: 200px;
    background-color: white;
    height:120px;
    border-radius: 20px;

}
.block-icon{
    display: flex;
    justify-content: center;
}
.block-title{
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: center;
}

.block-content{
    font-size: 15px;
    font-weight: bold;
}


.second-block{
    display: flex;
    justify-content: center;
    
}
.step{

    border-radius: 20px;
    width: 970px;
    height: 540px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
    background-color: white;
    display: grid;
    grid-template-rows: 1fr 5fr;
}
.step-big-title{
    display: flex;
    justify-content: center;
    font-weight: bolder;
    font-size: 24px;
}

.icon-space{
    margin-top: 20px;
    margin-bottom: 20px;
    display: grid;
    grid-template-columns:  1fr 3fr 1fr;
}
.step-icon{
    border-radius: 10px;
    width:30px;
    height: 30px;
    background-color: var(--sidebar-accent-accent);
    transition:.7s;
}

.step-icon2{
    border-radius: 10px;
    width:50%;
    height: 30px;
    background-color:var(--sidebar-accent-accent);
    transition: .7s;
}

.step-icon3{
    border-radius: 10px;
    width:100%;
    height: 30px;
    background-color:var(--sidebar-accent-accent);
    transition: .7s;
}

.step-content{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.step-title{
    font-weight: bold;
    font-size:20px;
    border-bottom: var(--border);
    margin-bottom: 10px;
    height: 40px;
}

.step-information{
    height: 330px;
}

.step-left{

}

.step-right{
    display: flex;
    align-items: center;
    padding:20px;
}

.step-btn {
    border: var(--border);
    display: inline-flex;
    width:60px;
    height: 40px;
    margin:5px;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    background-color: var(--background);
}

.step-btn:hover {
    background-color: var(--background-accent);
}