

:root{
    --font : 'Noto Sans KR', sans-serif;
    --font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
    --background: rgb(246, 246, 246);
    --background-accent: rgb(226, 226, 226);
    --btn-color: rgb(219,219,219);
    --btn-color-accent: rgb(200,200,200);
    --bg:  white;
    --bg-accent: rgb(50, 50, 50);
    --text-color: rgb(64, 64, 64);
    --text-color-light: rgb(120, 120, 120);
    --blue-color : rgb(251, 251, 255);
    --nav-size: 65px;
    --border: 1px solid rgb(219, 219, 219);
    --border-solid: 2px solid rgb(209, 209, 209);
    --border-radius: 8px;
    --speed: 500ms; 
    --dark : rgb(38, 38, 38);
    --input : rgb(250, 251, 252);
    --sidebar-accent: rgb(234, 236, 238);
    --sidebar-accent-accent: rgb(226, 228, 230);
}

body{
    font-family: 'Noto Sans KR', sans-serif;
    -webkit-font-smoothing: antialiased;
    margin : 0;
    color: var(--text-color);
    background-color: var(--background);
}